PP/qe_pp-0.99.xsd

<?xml version="1.0"?>
<schema targetNamespace="http://www.quantum-espresso.org/ns/qes/qe_pp-1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:qe_pp="http://www.quantum-espresso.org/ns/qes/qe_pp-1.0">
<!-- PSEUDO (root element) -->
<element name="pseudo" type="qe_pp:pseudoType"/>
<complexType name="pseudoType">
<sequence>
    <element minOccurs="1" maxOccurs="1" name="xsd_version" type="string"/>
    <element minOccurs="1" maxOccurs="1" name="pp_info" type="qe_pp:infoType"/>
    <element minOccurs="1" maxOccurs="1" name="pp_header" type="qe_pp:headerType"/>
    <element minOccurs="1" maxOccurs="1" name="pp_mesh" type="qe_pp:meshType"/>
    <element minOccurs="0" maxOccurs="1" name="pp_nlcc" type="qe_pp:pplistType"/>
    <element minOccurs="1" maxOccurs="1" name="pp_local" type="qe_pp:pplistType"/>
    <element minOccurs="1" maxOccurs="1" name="pp_nonlocal" type="qe_pp:nonlocalType"/>
    <element minOccurs="1" maxOccurs="1" name="pp_pswfc" type="qe_pp:pswfcType"/>
    <element minOccurs="0" maxOccurs="1" name="pp_full_wfc" type="qe_pp:full_wfctype"/>
    <element minOccurs="0" maxOccurs="1" name="pp_rhoatom" type="qe_pp:pplistType"/>
    <element minOccurs="0" maxOccurs="1" name="pp_spin_orb" type="qe_pp:spinorbType"/>
    <element minOccurs="0" maxOccurs="1" name="pp_paw" type="qe_pp:pawType"/>
    <element minOccurs="0" maxOccurs="1" name="pp_gipaw" type="qe_pp:gipawType"/>
</sequence>
</complexType>
<!--  
     =======================
     SEZIONE PP_INFO - START
     =======================
-->
<complexType name="infoType">
<sequence>
<element name="generated" type="string"/>
<element name="creator" type="qe_pp:creatorType"/>
<element name="created" type="qe_pp:createdType"/>
    <element name="input" type="qe_pp:inputTextType" maxOccurs="unbounded" minOccurs="0"/>

<element name="type" type="qe_pp:ppType"/>
    <element name="relativistic_effects" type="qe_pp:relType"/>
<element name="element" type="qe_pp:elementType"/>
    <element name="suggested_basis" type="qe_pp:ppbasisType" minOccurs="0"/>
    <choice>
        <element name="functional" type="string"/>
        <element name="libxc_functional" type="string"/>
    </choice>
    <element name="valence_orbital" minOccurs="0" maxOccurs="unbounded" type="qe_pp:orbitalInfoType"/>

</sequence>
</complexType>
<!-- CREATOR E CREATED MUTUATI DA SCHEMA QES -->
<complexType name="creatorType">
<simpleContent>
<extension base="string">
<attribute name="NAME" type="string"/>
<attribute name="VERSION" type="string" use="optional"/>
</extension>
</simpleContent>
</complexType>
<complexType name="createdType">
<simpleContent>
<extension base="string">
<attribute name="DATE" type="string"/>
<attribute name="TIME" type="string" use="optional"/>
</extension>
</simpleContent>
</complexType>

     <complexType name="inputTextType">
         <simpleContent>
             <extension base="string">
                 <attribute name="program" type="string"/>
             </extension>
         </simpleContent>
    </complexType>
<complexType name="ppbasisType">
    <attribute name="ecutwfc" type="double"/>
    <attribute name="ecutrho" type="double" use="optional"/>
</complexType>

<!-- PSEUDOPOTENTIAL TYPE -->
<simpleType name="ppType">
<restriction base="string">
<enumeration value="NC"/>
<enumeration value="US"/>
<enumeration value="PAW"/>
</restriction>
</simpleType>

<simpleType name="relType">
    <restriction base="string">
        <enumeration value="full"/>
        <enumeration value="scalar"/>
        <enumeration value="none"/>
    </restriction>
</simpleType>
<!-- PERIODIC TABLES ELEMENTS ELEMENT TYPE -->
<simpleType name="elementType">
<restriction base="string">
<enumeration value="H"/>
<enumeration value="He"/>
<enumeration value="Li"/>
<enumeration value="Be"/>
<enumeration value="B"/>
<enumeration value="C"/>
<enumeration value="N"/>
<enumeration value="O"/>
<enumeration value="F"/>
<enumeration value="Ne"/>
<enumeration value="Na"/>
<enumeration value="Mg"/>
<enumeration value="Al"/>
<enumeration value="Si"/>
<enumeration value="P"/>
<enumeration value="S"/>
<enumeration value="Cl"/>
<enumeration value="Ar"/>
<enumeration value="K"/>
<enumeration value="Ca"/>
<enumeration value="Sc"/>
<enumeration value="Ti"/>
<enumeration value="V"/>
<enumeration value="Cr"/>
<enumeration value="Mn"/>
<enumeration value="Fe"/>
<enumeration value="Co"/>
<enumeration value="Ni"/>
<enumeration value="Cu"/>
<enumeration value="Zn"/>
<enumeration value="Ga"/>
<enumeration value="Ge"/>
<enumeration value="As"/>
<enumeration value="Se"/>
<enumeration value="Br"/>
<enumeration value="Kr"/>
<enumeration value="Rb"/>
<enumeration value="Sr"/>
<enumeration value="Y"/>
<enumeration value="Zr"/>
<enumeration value="Nb"/>
<enumeration value="Mo"/>
<enumeration value="Tc"/>
<enumeration value="Ru"/>
<enumeration value="Rh"/>
<enumeration value="Pd"/>
<enumeration value="Ag"/>
<enumeration value="Cd"/>
<enumeration value="In"/>
<enumeration value="Sn"/>
<enumeration value="Sb"/>
<enumeration value="Te"/>
<enumeration value="I"/>
<enumeration value="Xe"/>
<enumeration value="Cs"/>
<enumeration value="Ba"/>
<enumeration value="La"/>
<enumeration value="Ce"/>
<enumeration value="Pr"/>
<enumeration value="Nd"/>
<enumeration value="Pm"/>
<enumeration value="Sm"/>
<enumeration value="Eu"/>
<enumeration value="Gd"/>
<enumeration value="Tb"/>
<enumeration value="Dy"/>
<enumeration value="Ho"/>
<enumeration value="Er"/>
<enumeration value="Tm"/>
<enumeration value="Yb"/>
<enumeration value="Lu"/>
<enumeration value="Hf"/>
<enumeration value="Ta"/>
<enumeration value="W"/>
<enumeration value="Re"/>
<enumeration value="Os"/>
<enumeration value="Ir"/>
<enumeration value="Pt"/>
<enumeration value="Au"/>
<enumeration value="Hg"/>
<enumeration value="Tl"/>
<enumeration value="Pb"/>
<enumeration value="Bi"/>
<enumeration value="Po"/>
<enumeration value="At"/>
<enumeration value="Rn"/>
<enumeration value="Fr"/>
<enumeration value="Ra"/>
<enumeration value="Ac"/>
<enumeration value="Th"/>
<enumeration value="Pa"/>
<enumeration value="U"/>
<enumeration value="Np"/>
<enumeration value="Pu"/>
<enumeration value="Am"/>
<enumeration value="Cm"/>
<enumeration value="Bk"/>
<enumeration value="Cf"/>
<enumeration value="Es"/>
<enumeration value="Fm"/>
<enumeration value="Md"/>
<enumeration value="No"/>
<enumeration value="Lr"/>
<enumeration value="Rf"/>
<enumeration value="Db"/>
<enumeration value="Sg"/>
<enumeration value="Bh"/>
<enumeration value="Hs"/>
<enumeration value="Mt"/>
</restriction>
</simpleType>

    <complexType name="orbitalInfoType">
        <attribute name="nl" type="nonNegativeInteger"/>
        <attribute name="pn" type="nonNegativeInteger"/>
        <attribute name="l" type="nonNegativeInteger"/>
        <attribute name="occupation" type="double"/>
        <attribute name="Rcut" type="double"/>
        <attribute name="RcutUS" type="double" use="optional"/>
        <attribute name="Epseu" type="double"/>
    </complexType>
<!--  
     =======================
     SEZIONE PP_INFO - END
     =======================
-->

<!--  
     =========================
     SEZIONE PP_HEADER - START
     =========================
-->
<complexType name="headerType">
<sequence>
<element name="comment" type="string"/>
    <element name="type" type="qe_pp:ppType"/>
    <choice>
        <element type="string" name="functional"/>
        <element type="string" name="libxc_functional"/>
    </choice>
    <element name="functional" type="string"/>

<element name="relativistic" type="string"/>
<element name="is_ultrasoft" type="boolean"/>
<element name="is_paw" type="boolean"/>
<element name="is_coulomb" type="boolean"/>
<element name="has_so" type="boolean"/>
<element name="has_wfc" type="boolean"/>
<element name="has_gipaw" type="boolean"/>
<element name="paw_as_gipaw" type="boolean"/>
<element name="core_correction" type="boolean"/>
    <element name="element" type="qe_pp:elementType"/>
<element name="z_valence" type="double"/>
<element name="total_psenergy" type="double"/>
<element name="wfc_cutoff" type="double"/>
<element name="rho_cutoff" type="double"/>
<element name="l_max" type="integer"/>
<element name="l_max_rho" type="integer"/>
<element name="l_local" type="integer"/>
<element name="mesh_size" type="integer"/>
<element name="number_of_wfc" type="integer"/>
<element name="number_of_proj" type="integer"/>
</sequence>
</complexType>
<!--  
     =======================
     SEZIONE PP_HEADER - END
     =======================
-->

<!--  
     =======================
     SEZIONE PP_MESH - START
     =======================
-->
<complexType name="meshType">
<sequence>
    <element name="equation" type="string" minOccurs="0" maxOccurs="1"/>
<element name="pp_r" type="qe_pp:pplistType"/>
<element name="pp_rab" type="qe_pp:pplistType" minOccurs="1" maxOccurs="1"/>
</sequence>
<attribute name="dx" type="double"/>
<attribute name="mesh" type="positiveInteger"/>
<attribute name="xmin" type="double"/>
<attribute name="rmax" type="double"/>
<attribute name="zmesh" type="double"/>
</complexType>
<!--  
     =====================
     SEZIONE PP_MESH - END
     =====================
-->

<!--  
     ===========================
     SEZIONE PP_NONLOCAL - START
     ===========================
-->
<complexType name="nonlocalType">
<sequence>
<element minOccurs="0" maxOccurs="unbounded" name="pp_beta" type="qe_pp:ppbetaType"/>
<element minOccurs="0" maxOccurs="unbounded" name="pp_dij" type="qe_pp:matrixType"/>
<element minOccurs="0" maxOccurs="unbounded" name="pp_augmentation" type="qe_pp:ppAugmentationType"/>
</sequence>
</complexType>
<complexType name="ppbetaType">
<simpleContent>
<extension base="qe_pp:vectorType">
<attribute type="positiveInteger" name="size"/>
<attribute type="positiveInteger" name="beta_index"/>
<attribute type="string" name="label" use="optional"  />
<attribute type="double" name="pseudo_energy"/>
    <attribute type ="integer" name ="cut_off_radius_index"/>
    <attribute type ="double" name="cut_off_radius"/>
    <attribute type ="double" name ="ultrasoft_cutoff_radius" use="optional"/>
    <attribute type ="double" name ="norm_conserving_radius" use ="optional"/>
</extension>
</simpleContent>
</complexType>
<complexType name="ppAugmentationType">
<sequence>
    <element minOccurs="0" maxOccurs="1" name="nqf" type="positiveInteger"/>
    <element name = "q_with_l" type="boolean"/>
    <element name="nqlc" type="integer" minOccurs="0"/>
    <element name="shape" type="string" minOccurs="0"/>
    <element name="cutoff_r" type="double" minOccurs="0"/>
    <element name = "cutoff_r_index" type="integer" minOccurs="0"/>
    <element name ="l_max_aug" type="integer" minOccurs="0"/>
    <element name="augmentation_epsilon" type="double" minOccurs="0"/>
    <element name="pp_q" type="qe_pp:qType" minOccurs="0" />
    <element minOccurs="0" maxOccurs="1" name="pp_multipoles" type="qe_pp:qType"/>
    <element minOccurs="0" maxOccurs="1" name="qij" type="qe_pp:qType"/>
    <choice minOccurs="0" maxOccurs="unbounded">
        <element name="pp_qij" type="qe_pp:qType" />
        <element name="pp_qjl" type="qe_pp:qType" />
    </choice>
</sequence>
</complexType>
<complexType name="qType">
<simpleContent>
<extension base="qe_pp:vectorType">
<attribute type="integer" name="size"/>
    <attribute type="double" name="q_int" use="optional"/>
    <attribute type="integer" name="index" use="optional"/>
    <attribute type="integer" name="first_index" use="optional"/>
    <attribute type="integer" name="second_index" use="optional"/>
    <attribute type="integer" name="composite_index" use="optional"/>
    <attribute type="integer" name="angular_momentum" use="optional"/>
</extension>
</simpleContent>
</complexType>

    
<!--  
     =========================
     SEZIONE PP_NONLOCAL - END
     =========================
-->

<!--  
     ========================
     SEZIONE PP_PSWFC - START
     ========================
-->
<complexType name="pswfcType" mixed="true">
<sequence>
<element name="pp_chi" type="qe_pp:chiType" minOccurs="0" maxOccurs="unbounded" />
</sequence>
</complexType>
<complexType name="chiType">
<simpleContent>
<extension base="qe_pp:vectorType">
<attribute type="string" name="type" use="optional"/>
<attribute type="short" name="size" />
<attribute type="positiveInteger" name="index"/>
<attribute type="string" name="label"/>
<attribute type="positiveInteger" name="l"/>
    <!-- used for reference wave functions in pp_fullwfc element-->
<attribute type="double" name="occupation" use="optional"/>
<attribute type="positiveInteger" name="n" use="optional"/>
<attribute type="double" name="pseudo_energy" use="optional"/>
<attribute type="double" name="cutoff_radius" use="optional"/>
<attribute type="double" name="ultrasoft_cutoff_radius" use="optional"/>
</extension>
</simpleContent>
</complexType>
<!--  
     ======================
     SEZIONE PP_PSWFC - END
     ======================
-->


<!--
    ========================
    SECTION PP_AEWFC - BEGIN
    ========================
-->
<complexType name="full_wfctype" >
    <sequence>
        <element name="pp_aewfc"   type="qe_pp:chiType" minOccurs="1" maxOccurs="unbounded"/>
        <element name="pp_aewfc_rel" type="qe_pp:chiType" minOccurs="0" maxOccurs="unbounded"/>
        <element name="pp_pswfc" type="qe_pp:chiType" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
</complexType>

<!--
    =============================
        SECTION PP_AEWFC - END
    =============================
-->

<!--
    ==================================
      SECTION PP_SPIN_ORB - START
    ===================================
-->

<complexType name="spinorbType">
    <sequence>
        <element name="pp_relwfc"  type="qe_pp:relwfcType" minOccurs="1" maxOccurs="unbounded"/>
        <element name="pp_relbeta" type="qe_pp:relbetaType" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
</complexType>

    <complexType name="relwfcType">
        <attribute name="index" type="integer"/>
        <attribute name="nn" type="integer"/>
        <attribute name="jchi" type="double"/>
    </complexType>

    <complexType name="relbetaType">
        <attribute name="index" type="integer"/>
        <attribute name="lll" type="integer"/>
        <attribute name="jjj" type="double"/>
    </complexType>

<!--
    ================================
      SPIN ORB SECTION - END
    ===================================
-->

<!--
    ===============================
          PAW SECTION - START
    =================================
-->
<complexType name="pawType">
    <sequence>
        <element name="pp_occupations" type="qe_pp:pplistType"/>
        <element name="pp_ae_nlcc" type="qe_pp:pplistType"/>
        <element name="pp_ae_vloc" type="qe_pp:pplistType"/>
    </sequence>
    <attribute name="paw_data_format" type="positiveInteger"/>
    <attribute name="core_energy" type="double" use="optional"/>
</complexType>
<!--
     ==============================
       PAW SECTION  - END
     ==============================
-->
    
<!--
    ================================
      GIPAW SECTION - START
    ================================
-->
<complexType name="gipawType">
    <sequence>
        <element minOccurs="1" maxOccurs="1" name="number_of_core_orbitals" type="nonNegativeInteger"/>
        <element minOccurs="0" maxOccurs="1" name="number_of_valence_orbitals" type="nonNegativeInteger"/>
        <element minOccurs="0" maxOccurs="unbounded" name="pp_gipaw_core_orbital" type="qe_pp:chiType"/>
        <element minOccurs="0" maxOccurs="unbounded" name="pp_gipaw_orbital" type="qe_pp:gipawOrbitalType"/>
        <element name="pp_gipaw_vlocal" type ="qe_pp:gipawVlocType"/>
    </sequence>
    <attribute name="gipaw_data_format" type="integer"/>
</complexType>

<complexType name="gipawOrbitalType">
    <sequence>
        <element name="pp_gipaw_wfs_ae" type="qe_pp:chiType"/>
        <element name="pp_gipaw_wfc_ps" type="qe_pp:chiType"/>
    </sequence>
    <attribute name="index" type="positiveInteger"/>
    <attribute name="label" type="string"/>
    <attribute name="l" type="integer"/>
    <attribute name="cutoff_radius" type="double"/>
    <attribute name="ultrasoft_cutoff_radius" type="double" use="optional"/>
</complexType>

<complexType name="gipawVlocType">
    <sequence>
        <element name="pp_gipaw_vlocal_ae" type="qe_pp:pplistType"/>
        <element name="pp_gipaw_vlocal_ps" type="qe_pp:pplistType"/>
    </sequence>
</complexType>


    <!--
     ============================
     SEZIONE COMMON TYPES - START
     ============================
-->
<complexType name="pplistType">
<simpleContent>
<extension base="qe_pp:vectorType">
<attribute name="size" type="positiveInteger"/>
<attribute name="type" type="string" use="optional"/>
</extension>
</simpleContent>
</complexType>



    <complexType name="matrixType">
        <simpleContent>
        <extension base="qe_pp:vectorType">
            <attribute name="columns" type="positiveInteger"/>
            <attribute name="rows"    type="positiveInteger"/>
        </extension>
        </simpleContent>
    </complexType>




<simpleType name="vectorType">
<restriction>
<simpleType>
<list itemType="double"/>
</simpleType>
</restriction>
</simpleType>
</schema>
